*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:black;
}
h1{
    font-size: 40px;
    font-weight: 300;
}
.contents1{
    font-size: 17px;
    font-weight: 100;
}
.contents1_bold{
    font-size: 18px;
    font-weight: bold;
}
.intro_bg{
    background-image: url('image/intro.png');
    width:100%;
    height: 718px;
}
.header{
    display:flex;
    width: 1280px;
    margin:auto;
    height: 86px;
}
.search_area{
    width: 240px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top:24px;
}
.search_area>form>input{
    border: none;
    width: 200px;
    height: 40px;
    background: rgba(0,0,0,0.0);
    color: white;
    padding-left:10px;
}
.search_area>form>span{
    width: 100px;
    color:yellowgreen;
    font-weight: bold;
    cursor:pointer;
}
.nav{
    display:flex;
    justify-content: flex-end;
    line-height: 86px;
    width: 1040px;
}

.nav>li{
    margin-left:84px;
}
.nav>li>a{
    color:whitesmoke;
}
.amount{
    position: relative;
    top:-66px;
    display: flex;
    width: 1280px;
    background: white;
    margin: auto;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.4);
}
.amount>li{
    flex:1;
    height: 132px;
}
.amount>li>div{
    text-align: center;
    height: 57px;
    margin-top: 37px;
    opacity: 0.95;
    font-size: 20px;
    font-weight: 900;
}
.amount>li:not(:last-child)>div{
    border-right: 1px solid #E1E1E1;
}
.intro_title{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top:220px;
}
.intro_title>h1,h4{
    color:white;
    opacity:1; /*글자의 투명도 조절 0~1*/
    letter-spacing: 3px;
}
/* main_text0 */
.main_text0{
    width: 100%;
    height: 601px;
    margin-top: -132px;
    background: #f1f2f3;
}
.main_text0>h1{
    padding-top: 116px;
    text-align: center;
}
.main_text0>.contents1{
    text-align: center;
}
.icons{
    display: flex;
    width: 1280px;
    height: 302px;
    margin: auto;
}
.icons>li{
    height: 302px;
    background: white;
    flex: 1;
    margin-top: 49px;
    text-align: center;
}

.icons>li:not(:last-child){
    margin-right: 20px;
}
.icons>li>.icon_img{
    margin-top: 36px;
}
.icons>li>.contents2{
    font-size: 14px;
    font-weight: 100;
}
.icons .contents2{
    width: 235px;
    margin: auto;
    letter-spacing: -1px;
}
.more{
    width: 100px;
    height: 30px;
    background: #2F7AF4;
    color: white;
    margin: auto;
    font-size: 15px;
    line-height: 30px;
    margin-top: 20px;
}
.service{
    width: 1280px;
    display: flex;
    margin:49px auto;
    height: 427px;
}
.service>.contents2{
    padding:20px
}
.service>.contents2>h2{
    margin-bottom: 27px;
}

.main_text1{
    width: 100%;
    height: 418px;
    background-image:url('image/contact.png');
}
.main_text1>ul{
    display: flex;
    padding-top: 138px;
}
.main_text1>ul>li{
    flex: 1;
    text-align: center;
}
.main_text1>ul>li>div,h1{
    color:#fff;
    margin: 16px auto;
}
.more2{
    border: 1px solid #fff;
    width: 220px;
    height: 40px;
    line-height: 40px;
    background: slategrey;
}
.fooster{
    display: flex;
    background-color: #1f1f1f;
    padding: 30px;
}
.fooster>div:first-child{
    flex:3;
    text-align: center;
    color:#fff;
}
.fooster>div:last-child{
    flex: 9;
    color:#fff;
}
.fooster>h1{
    font-weight: 100;
}
