*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:black;
}
.intro_bg{
    background-image: url('image/intro.png');
    width:100%;
    height: 718px;
}
.header{
    display:flex;
    width: 1280px;
    margin:auto;
    height: 86px;
}
.searchArea{
    width: 240px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-top:24px;
}
.searchArea>form>input{
    border: none;
    width: 200px;
    height: 40px;
    background: rgba(0,0,0,0.0);
    color: white;
    padding-left:10px;
}
.searchArea>form>span{
    width: 100px;
    color:yellowgreen;
    font-weight: bold;
    cursor:pointer;
}
.nav{
    display:flex;
    justify-content: flex-end;
    line-height: 86px;
    width: 1040px;
}

.nav>li{
    margin-left:84px;
}
.nav>li>a{
    color:whitesmoke;
}